<section class="main">
  <table>
    <th class="namefour">Name</th>
    <th class="hole">1</th>
    <th class="hole">2</th>
    <th class="hole">3</th>
    <th class="hole">4</th>
    <th class="hole">5</th>
    <th class="hole">6</th>
    <th class="hole">7</th>
    <th class="hole">8</th>
    <th class="hole">9</th>
    <th class="hole">10</th>
    <th class="hole">11</th>
    <th class="hole">12</th>
    <th class="hole">13</th>
    <th class="hole">14</th>
    <th class="hole">15</th>
    <th class="hole">16</th>
    <th class="hole">17</th>
    <th class="hole">18</th>
    <th class="holecomb">Total</th>
    <tr>
      <td class="namefour">Adrian G</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Andy G</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Graham H</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Graham K</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Joseph F</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Lee D</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Les G</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Nigel G</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Trevor D</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Colin D</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Phil D</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Simon T</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Stephen G</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">David G</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">David C</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
    <tr>
      <td class="namefour">Ben G</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="hole">0</td>
      <td class="holecomb">0</td>
    </tr>
  </table>
</section>
