<section class="main">
  <p>For 2016:</p>
  <table class="caps">
    <th class="namethree">Name</th>
    <th class="caps rborder">Handicap</th>
    <th class="namethree">Name</th>
    <th class="caps">Handicap</th>
    <tr>
      <td class="namethree">Andy G</td>
      <td class="caps rborder">Plus 1 at 17</td>
      <td class="namethree">Kevin S</td>
      <td class="caps">Plus 1 to 19</td>
    </tr>
    <tr>
      <td class="namethree">Neill T</td>
      <td class="caps rborder">n/c at 20</td>
      <td class="namethree">Phil P</td>
      <td class="caps">Cutt 11 to 10</td>
    </tr>
    <tr>
      <td class="namethree">Adrian G</td>
      <td class="caps rborder">Plus 1 to 20</td>
      <td class="namethree">Joseph F</td>
      <td class="caps">Plus 4 to 24</td>
    </tr>
    <tr>
      <td class="namethree">Nigel G</td>
      <td class="caps rborder">n/c at 30</td>
      <td class="namethree">Stephen G</td>
      <td class="caps">n/c at 32</td>
    </tr>
    <tr>
      <td class="namethree">Miles J</td>
      <td class="caps rborder">n/c at 9</td>
      <td class="namethree">David Cr</td>
      <td class="caps">Plus 2 to 6</td>
    </tr>
    <tr>
      <td class="namethree">Phil D</td>
      <td class="caps rborder">Plus 1 to 11</td>
      <td class="namethree">Fayed A</td>
      <td class="caps">n/c at 18</td>
    </tr>
    <tr>
      <td class="namethree">Sam D</td>
      <td class="caps rborder">n/c at 4</td>
      <td class="namethree">James F</td>
      <td class="caps">n/c at 29</td>
    </tr>
    <tr>
      <td class="namethree">Byron M</td>
      <td class="caps rborder">n/c at 7</td>
      <td class="namethree">Mark H</td>
      <td class="caps">n/c at 20</td>
    </tr>
    <tr>
      <td class="namethree">David G</td>
      <td class="caps rborder">n/c at 32</td>
      <td class="namethree">Trevor D</td>
      <td class="caps">Plus 1 to 16</td>
    </tr>
    <tr>
      <td class="namethree">Jimmy R</td>
      <td class="caps rborder">n/c at 21</td>
      <td class="namethree">Paul B</td>
      <td class="caps">n/c at 17</td>
    </tr>
    <tr>
      <td class="namethree">Ben G</td>
      <td class="caps rborder">Plus 2 to 21</td>
      <td class="namethree">Colin D</td>
      <td class="caps">Plus 4 to 16</td>
    </tr>
    <tr>
      <td class="namethree">Dan R</td>
      <td class="caps rborder">n/c at 15</td>
      <td class="namethree">Rhys D</td>
      <td class="caps">n/c at 5</td>
    </tr>
    <tr>
      <td class="namethree">Lee D</td>
      <td class="caps rborder">Cut 6 to 0</td>
      <td class="namethree">David S</td>
      <td class="caps">n/c at 8</td>
    </tr>
    <tr>
      <td class="namethree">Simon T</td>
      <td class="caps rborder">Cut 1 to 10</td>
      <td class="namethree">Les G</td>
      <td class="caps">n/c at 32</td>
    </tr>
    <tr>
      <td class="namethree">Graham K</td>
      <td class="caps rborder">Plus 2 to 10</td>
      <td class="namethree">Graham H</td>
      <td class="caps">Plus 2 to 14</td>
    </tr>
    <tr>
      <td class="namethree">Dan S</td>
      <td class="caps rborder">n/c at 17</td>
      <td class="namethree">Glen S</td>
      <td class="caps">n/c at 17</td>
    </tr>
    <tr>
      <td class="namethree">Taylor H</td>
      <td class="caps rborder">n/c at 32</td>
      <td class="namethree">Mark K</td>
      <td class="caps">n/c at 4</td>
    </tr>
  </table>
</section>
