<section class="main">
  <h4><%= link_to('Eclectic Scores 2016', scores_eclectic_path) %></h4>
  <h4><%= link_to('Putting Scores 2016', scores_putting_path) %></h4>
  <h4><%= link_to('Handicaps 2016', scores_handicaps_path) %></h4>
</section>
