<section class="main">
  <table>
    <th class="namefour">Name</th>
    <th class="number">Round 1</th>
    <th class="number">Round 2</th>
    <th class="number">Round 3</th>
    <th class="number">Round 4</th>
    <th class="number">Total</th>
    <tr>
      <td class="namefour">Adrian G</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Andy G</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">David C</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Graham H</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Graham K</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Joseph F</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Stephen G</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Lee D</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Les G</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Nigel G</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Trevor D</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Colin D</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Phil D</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">David G</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Simon T</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
    <tr>
      <td class="namefour">Ben G</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
    </tr>
  </table>
  <p><br />(*) denotes missed event. Average putts awarded.</p>
  <!-- <p>Average Putts for Spring will be __</p> -->
</section>
