<section class="main">
  <h4>Last 32</h4>
  <p>Lord Les (32) vs Sam D (12)</p>
  <p>Phil P (19) vs Rhys D (7)</p>
  <p>Adrian G (19) vs Stephen G (32)</p>
  <p>Nigel G (26) vs Biffa M (8)</p>
  <p>Graham H (17) vs Miles J (8)</p>
  <p>Judge (26) vs Paul B (19)</p>
  <p>DOB (17) vs Ben G (20)</p>
  <p>Graham K (13) vs Jimmy R (21)</p>
  <p><strong>Phil D (12)</strong> vs David C (9)</p>
  <p><strong>Kevin S (22)</strong> vs Bye</p>
  <p>Andy G (15) vs James F (26)</p>
  <p>Trevor D (18) vs David G (32)</p>
  <p>Simon T (12) vs Mark K (4)</p>
  <p><strong>Colin D (24)</strong> vs Fayed Al Salem (14)</p>
  <p>Lee D (0) vs Taylor H (32)</p>
  <p>Dan R (17) vs Mark H (18)</p>
</section>
