<section class="main">
  <p class="introline">The Peter Thake Trophy (Eclectic)</p>
  <table>
    <th class="eclectic">Year</th>
    <th class="nametwo">Stan</th>
    <th class="eclectic">Points</th>
    <tr>
      <td class="eclectic">2015</td>
      <td class="nametwo">Lee D</td>
      <td class="eclectic">47</td>
    </tr>
    <tr>
      <td class="eclectic">2014</td>
      <td class="nametwo">Simon T</td>
      <td class="eclectic">47</td>
    </tr>
    <tr>
      <td class="eclectic">2013</td>
      <td class="nametwo">Joseph F</td>
      <td class="eclectic">54</td>
    </tr>
    <tr>
      <td class="eclectic">2012</td>
      <td class="nametwo">Byron M &amp; Dan R</td>
      <td class="eclectic">49</td>
    </tr>
    <tr>
      <td class="eclectic">2011</td>
      <td class="nametwo">Kevin S</td>
      <td class="eclectic">52</td>
    </tr>
    <tr>
      <td class="eclectic">2010</td>
      <td class="nametwo">Phil D</td>
      <td class="eclectic">48</td>
    </tr>
    <tr>
      <td class="eclectic">2009</td>
      <td class="nametwo">Ben G</td>
      <td class="eclectic">48</td>
    </tr>
    <tr>
      <td class="eclectic">2008</td>
      <td class="nametwo">Neill T</td>
      <td class="eclectic">47</td>
    </tr>
    <tr>
      <td class="eclectic">2007</td>
      <td class="nametwo">Phil P</td>
      <td class="eclectic">51</td>
    </tr>
    <tr>
      <td class="eclectic">2006</td>
      <td class="nametwo">Neill T</td>
      <td class="eclectic">50</td>
    </tr>
    <tr>
      <td class="eclectic">2005</td>
      <td class="nametwo">Joseph F</td>
      <td class="eclectic">51</td>
    </tr>
    <tr>
      <td class="eclectic">2004</td>
      <td class="nametwo">Stephen G</td>
      <td class="eclectic">54</td>
    </tr>
    <tr>
      <td class="eclectic">2003</td>
      <td class="nametwo">Stephen G</td>
      <td class="eclectic">51</td>
    </tr>
    <tr>
      <td class="eclectic">2002</td>
      <td class="nametwo">Adrian G &amp; Andy G</td>
      <td class="eclectic">47</td>
    </tr>
    <tr>
      <td class="eclectic">2001</td>
      <td class="nametwo">Joseph F &amp; Phil P</td>
      <td class="eclectic">46</td>
    </tr>
    <tr>
      <td class="eclectic">2000</td>
      <td class="nametwo">Neill T</td>
      <td class="eclectic">51</td>
    </tr>
    <tr>
      <td class="eclectic">1997</td>
      <td class="nametwo">Andy G</td>
      <td class="eclectic">50</td>
    </tr>
  </table>
</section>
