<section class="main">
  <p class="introline">Knockout Winners and Losing Finalists</p>
  <table>
    <th class="eclectic">Year</th>
    <th class="nametwo">Winner</th>
    <th class="nametwo">Runner-Up</th>
    <tr>
      <td class="eclectic">2015</td>
      <td class="nametwo shade">Lee D</td>
      <td class="nametwo">Trevor D</td>
    </tr>
    <tr>
      <td class="eclectic">2014</td>
      <td class="nametwo shade">David C</td>
      <td class="nametwo">Kevin S</td>
    </tr>
    <tr>
      <td class="eclectic">2013</td>
      <td class="nametwo shade">Graham K</td>
      <td class="nametwo">Dan R</td>
    </tr>
    <tr>
      <td class="eclectic">2012</td>
      <td class="nametwo shade">Byron M</td>
      <td class="nametwo">Neill T</td>
    </tr>
    <tr>
      <td class="eclectic">2011</td>
      <td class="nametwo shade">Colin D</td>
      <td class="nametwo">David Cr</td>
    </tr>
  </table>
</section>
