<section class="main">
  <p class="introline">The Blair Dunlop Trophy (Putting)</p>
  <table>
    <th class="eclectic">Year</th>
    <th class="nametwo">Stan</th>
    <th class="eclectic">Putts</th>
    <tr>
      <td class="eclectic">2015</td>
      <td class="nametwo">Graham K &amp; Nigel G</td>
      <td class="eclectic">125</td>
    </tr>
    <tr>
      <td class="eclectic">2014</td>
      <td class="nametwo">Adrian G &amp; Andy G</td>
      <td class="eclectic">127</td>
    </tr>
    <tr>
      <td class="eclectic">2013</td>
      <td class="nametwo">Andy G</td>
      <td class="eclectic">120</td>
    </tr>
    <tr>
      <td class="eclectic">2012</td>
      <td class="nametwo">Andy G</td>
      <td class="eclectic">121</td>
    </tr>
    <tr>
      <td class="eclectic">2011</td>
      <td class="nametwo">Andy G</td>
      <td class="eclectic">129</td>
    </tr>
    <tr>
      <td class="eclectic">2010</td>
      <td class="nametwo">Andy G</td>
      <td class="eclectic">125</td>
    </tr>
    <tr>
      <td class="eclectic">2009</td>
      <td class="nametwo">Byron M</td>
      <td class="eclectic">125</td>
    </tr>
    <tr>
      <td class="eclectic">2008</td>
      <td class="nametwo">Andy G</td>
      <td class="eclectic">128</td>
    </tr>
    <tr>
      <td class="eclectic">2007</td>
      <td class="nametwo">Blair D &amp; Andy G</td>
      <td class="eclectic">120</td>
    </tr>
    <tr>
      <td class="eclectic">2006</td>
      <td class="nametwo">Andy G</td>
      <td class="eclectic">125</td>
    </tr>
    <tr>
      <td class="eclectic">2005</td>
      <td class="nametwo">Kevin S</td>
      <td class="eclectic">127</td>
    </tr>
    <tr>
      <td class="eclectic">2003</td>
      <td class="nametwo">Blair D</td>
      <td class="eclectic">132</td>
    </tr>
    <tr>
      <td class="eclectic">2004</td>
      <td class="nametwo">Blair D</td>
      <td class="eclectic">105</td>
    </tr>
  </table>
</section>
