<section class="main">
  <p class="introline">Events won since May 1993. Hover over the numbers to list details.</p>
  <table>
    <th class="name">Stan</th>
    <th class="number">Spring</th>
    <th class="number">Summer</th>
    <th class="number">Autumn</th>
    <th class="number">Winter</th>
    <th class="number">Total</th>
    <tr>
      <td>Andy G</td>
      <td class="number" title="Ufford Park 97, The Hertfordshire 07">2</td>
      <td class="number" title="The Warren 93, Ufford Park 95">2</td>
      <td class="number" title="The Warren 94, The Warren 97, Forest of Arden 98, Ufford Park 09, Channels 00, Benton Hall 02, Ufford Park 09">6</td>
      <td class="number" title="Bushey Hall 07">1</td>
      <td class="total">11</td>
    </tr>
    <tr class="shade">
      <td>Adrian G</td>
      <td class="number" title="Barnham Broom 96, Rio Formosa 02, Benton Hall 04">3</td>
      <td class="number" title="Ufford Park 97, Benton Hall 00">2</td>
      <td class="number" title="Toot Hill 12">1</td>
      <td class="number" title="Forest of Arden 98, Bushey Hall 06">2</td>
      <td class="total">8</td>
    </tr>
    <tr>
      <td>Kevin S</td>
      <td class="number" title="Upminster 95">1</td>
      <td class="number" title="Sandy Lodge 99">1</td>
      <td class="number" title="Toot Hill 14">1</td>
      <td class="number" title="The Warren 93, The Hertfordshire 97, Nazeing 00, Mentmore 02">4</td>
      <td class="total">7</td>
    </tr>
    <tr class="shade">
      <td>Phil P</td>
      <td class="number" title="The Warren 94, The Warren 99, The Hertfordshire 09">3</td>
      <td class="number" title="The Warren 94, Benton Hall 03">2</td>
      <td class="number" title="The Warren 05, Colchester 15">2</td>
      <td class="number">0</td>
      <td class="total">7</td>
    </tr>
    <tr >
      <td>Neill T</td>
      <td class="number">0</td>
      <td class="number" title="Barnham Broom 96, Forest of Arden 98, The Warren 06,">3</td>
      <td class="number" title="West Essex 96">1</td>
      <td class="number" title="The Warren 94, Channels 95">2</td>
      <td class="total">6</td>
    </tr>
    <tr class="shade">
      <td>Byron M</td>
      <td class="number" title="Bushey Hall 05">1</td>
      <td class="number" title="The Warren 09">1</td>
      <td class="number" title="Bushey Hall 03, Benton Hall 13">2</td>
      <td class="number" title="Ufford Park 01">1</td>
      <td class="total">5</td>
    </tr>
    <tr>
      <td>Blair D</td>
      <td class="number" title="The Warren 03">1</td>
      <td class="number">0</td>
      <td class="number" title="Forest of Arden 99, Ufford Park 06">2</td>
      <td class="number" title="Forest of Arden 99">1</td>
      <td class="total">4</td>
    </tr>
    <tr class="shade">
      <td>Nigel W</td>
      <td class="number" title="Bearsted Park 98, The Hertfordshire 00">2</td>
      <td class="number" title="Villa Sol 01">1</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="total">3</td>
    </tr>
    <tr>
      <td>Joseph F</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number" title="Bushey Hall 01">1</td>
      <td class="number" title="Benton Hall 09, Toot Hill 13">2</td>
      <td class="total">3</td>
    </tr>
    <tr class="shade">
      <td>Mark H</td>
      <td class="number" title="The Hertfordshire 08">1</td>
      <td class="number" title="Millennium 02">1</td>
      <td class="number" title="The Warren 08">1</td>
      <td class="number">0</td>
      <td class="total">3</td>
    </tr>
    <tr>
      <td>Miles J</td>
      <td class="number">0</td>
      <td class="number" title="Victoria 10">1</td>
      <td class="number" title="Crondon Park 04">1</td>
      <td class="number" title="The Hertfordshire 05">1</td>
      <td class="total">3</td>
    </tr>
    <tr class="shade">
      <td>Trevor D</td>
      <td class="number">0</td>
      <td class="number" title="The Warren 07, Colchester 14">2</td>
      <td class="number">0</td>
      <td class="number" title="Ufford Park 08">1</td>
      <td class="total">3</td>
    </tr>
    <tr>
      <td>Jimmy R</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number" title="The Warren 95">1</td>
      <td class="number" title="The Hertfordshire 96">1</td>
      <td class="total">2</td>
    </tr>
    <tr class="shade">
      <td>David Ch</td>
      <td class="number" title="Quinta Do Lago 01">1</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number" title="Channels 03">1</td>
      <td class="total">2</td>
    </tr>
    <tr>
      <td>Glen S</td>
      <td class="number">0</td>
      <td class="number" title="Ufford Park 04">1</td>
      <td class="number" title="Ufford Park 07">1</td>
      <td class="number">0</td>
      <td class="total">2</td>
    </tr>
    <tr class="shade">
      <td>Nigel G</td>
      <td class="number">0</td>
      <td class="number" title="Stockbrook Manor 05, Toot Hill 11">2</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="total">2</td>
    </tr>
    <tr>
      <td>Phil D</td>
      <td class="number" title="The Hertfordshire 06">1</td>
      <td class="number" title="The Hertfordshire 13">1</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="total">2</td>
    </tr>
    <tr class="shade">
      <td>Danny R</td>
      <td class="number" title="The Warren 11">1</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number" title="The Warren 12">1</td>
      <td class="total">2</td>
    </tr>
    <tr>
      <td>David Cr</td>
      <td class="number">0</td>
      <td class="number" title="Stockbrook Manor 08">1</td>
      <td class="number">0</td>
      <td class="number" title="Nazeing 14">1</td>
      <td class="total">2</td>
    </tr>
    <tr class="shade">
      <td>Colin D</td>
      <td class="number" title="Bentley GC 15">1</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number" title="Colchester 11">1</td>
      <td class="total">2</td>
    </tr>
    <tr>
      <td>Graham K</td>
      <td class="number" title="The Warren 13">1</td>
      <td class="number" title="The Warren 15">1</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="total">2</td>
    </tr>
    <tr class="shade">
      <td>Lee D</td>
      <td class="number" title="The Hertfordshire 12">1</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number" title="The Hertfordshire 15">1</td>
      <td class="total">2</td>
    </tr>
    <tr>
      <td>Stephen G</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number" title="Channels 04">1</td>
      <td class="total">1</td>
    </tr>
    <tr class="shade">
      <td>Rhys D</td>
      <td class="number" title="Laguna 10">1</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="total">1</td>
    </tr>
    <tr>
      <td>Dave S</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number" title="Colchester 10">1</td>
      <td class="number">0</td>
      <td class="total">1</td>
    </tr>
    <tr class="shade">
      <td>Ben G</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number" title="The Hertfordshire 10">1</td>
      <td class="total">1</td>
    </tr>
    <tr>
      <td>Sam D</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number" title="The Hertfordshire 11">1</td>
      <td class="number">0</td>
      <td class="total">1</td>
    </tr>
    <tr class="shade">
      <td>Simon T</td>
      <td class="number">0</td>
      <td class="number" title="Colchester 12">1</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="total">1</td>
    </tr>
    <tr>
      <td>Graham H</td>
      <td class="number" title="The Hertfordshire 14">1</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="number">0</td>
      <td class="total">1</td>
    </tr>
  </table>
</section>
