<section class="main">
  <p class="introline">Ryder Cup Winners.</p>
  <table>
    <th class="eclectic">Year</th>
    <th class="nametwo">Winner</th>
    <th class="nametwo">Captain</th>
     <tr>
      <td class="eclectic">2015</td>
      <td class="nametwo">Youngs</td>
      <td class="nametwo">Lee D</td>
    </tr>
    <tr>
      <td class="eclectic">2013</td>
      <td class="nametwo">Youngs</td>
      <td class="nametwo">Colin D</td>
    </tr>
    <tr>
      <td class="eclectic">2011</td>
      <td class="nametwo">Youngs</td>
      <td class="nametwo">James F</td>
    </tr>
    <tr>
      <td class="eclectic">2009</td>
      <td class="nametwo">Youngs</td>
      <td class="nametwo">Sam D</td>
    </tr>
    <tr>
      <td class="eclectic">2007</td>
      <td class="nametwo">Olds</td>
      <td class="nametwo">Miles J</td>
    </tr>
    <tr>
      <td class="eclectic">2005</td>
      <td class="nametwo">Olds</td>
      <td class="nametwo">Phil P</td>
    </tr>
  </table>
</section>
