article {
  border-radius: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

article.info {
  width: 280px;
  float: left;
  border: 1px solid grey;
  margin: 0px 20px 0px 0px;

  p {
    font-size: 16px;
  }
}

article.map {
  width: 420px;
  height: 370px;
  float: left;
  border: 1px solid grey;
}

iframe.googlemap {
  margin: 0px auto;
}
